.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.star {
    display: inline-block;
    color: grey;
    font-size: 25px;
    max-height: 30px;
}

.main {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.img {
    display: inline-block;
}

.user, .album {
    width: 100%;
}

.btn {
    margin: 15px;
}

.fade {
    display: none;
}
.fade:before {
    content: '';
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 9999;
}
.full {
    position: fixed;
    top: 0;
    left: 40%;
    padding: 20px;
    margin-left: -200px;
    background: #fff;
    border: 1px solid orange;
    border-radius: 4px;
    z-index: 99999;
    opacity: 1;
}
.full__close {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    color: black;
}